.slide-in {
    animation: 1s ease-in-out forwards slide-in-animation;
    opacity: 0;
    animation-delay: calc(var(--order) * 300ms);
  }
  
  @keyframes slide-in-animation {
    0% {
      transform: translateY(40%);
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }
.increase-size{
  width: 250px;
  transition: transform 1s ease;
}

.increase-size:hover {
  transform: scale(1.1) !important;
}